.app {
  display: flex;
  margin: auto;
  width: 100%;
  padding: 32px 24px;
  gap: 24px;
  max-width: 1500px;
}

.form-container {
  display: flex;
  flex-direction: column;
  flex-grow: 999;
  gap: 28px;
}

form {
  padding: 18px;
  border-radius: 12px;
}

.edit-side {
  display: flex;
  height: fit-content;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 750px;
  flex-grow: 1;
}

@media (max-width: 768px) {
  .app {
    flex-direction: column;
    padding: 16px;
  }

  .edit-side {
    order: 1;
    width: 100%;
  }

  .form-container {
    width: 100%;
  }

  .resume-container {
    order: 2;
    width: 100%;
    margin-top: 20px;
  }
}
